@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.image-backdrop {
		@apply absolute top-0 bottom-0 h-full w-full flex justify-center items-center bg-slate-700 bg-opacity-60 opacity-0 hover:opacity-100 transition-opacity duration-200 ease-in-out text-white text-center text-2xl p-2;
	}

	.header-image {
		@apply relative bg-[url('/header-image.png')] bg-cover bg-bottom bg-no-repeat p-4 flex flex-col justify-center items-center h-64;
		border-radius: 50%;
	}

	.header-image:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
		box-shadow:
			inset 5px 12px 20px 0px white,
			inset -5px -12px 20px 0px white,
			inset 20px -5px 20px 0px white,
			inset -20px 5px 20px 0px white;
	}
}

.link-underline {
	border-bottom-width: 0;
	background-image: linear-gradient(transparent, transparent),
		linear-gradient(theme("colors.slate.600"), theme("colors.slate.600"));
	background-size: 0 2px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: background-size 0.2s ease-in-out;
}

.link-underline:hover,
.link-underline.active {
	background-size: 100% 2px;
	background-position: 0 100%;
}

.youtube-video {
	aspect-ratio: 16 / 9;
	width: 100%;
}
